name: CI/CD MLflow Docker

on:
  push:
    branches: [main]

jobs:
  train-and-dockerize:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow==2.19.0 pandas scikit-learn

      # =========================
      # PREPARE WORKSPACE
      # =========================
      - name: Prepare MLflow workspace
        run: |
          mkdir -p mlruns
          ls -la

      # =========================
      # RUN MLFLOW PROJECT
      # =========================
      - name: Run MLflow Project
        run: |
          mlflow run MLProject --env-manager=local

      # =========================
      # GET RUN ID (ROBUST)
      # =========================
      - name: Get latest run_id
        run: |
          RUN_ID=$(ls -td mlruns/*/* | head -n 1 | awk -F'/' '{print $(NF)}')
          echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV
          echo "Run ID: $RUN_ID"

      # =========================
      # BUILD DOCKER IMAGE
      # =========================
      - name: Build Docker Image
        run: |
          mlflow models build-docker \
            --model-uri "runs:/$RUN_ID/model" \
            --name telecom-churn-model

      # =========================
      # PUSH TO DOCKER HUB
      # =========================
      - name: Login Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Push Docker Image
        run: |
          docker tag telecom-churn-model ${{ secrets.DOCKER_HUB_USERNAME }}/telecom-churn-model:latest
          docker push ${{ secrets.DOCKER_HUB_USERNAME }}/telecom-churn-model:latest